# .gitignore file
#
# Set up for Visual Studio Environment
#
# Special gitignore for release branches trackinbg only setup files

# Object files
*.o
*.ko
*.obj
*.elf

# Project Folders
*.*
bin/
bin/Debug/
bin/Release/
obj/
Properties/
Resources/
test_cases/

# Executables
#*.exe

# VS specific
~*.*
.vs/
obj/
build/
dist/
private/
disassembly/
publish/
*.pdb
*.suo
*.sln
*.zip
*.mk
*.bash
*.cs
*.ico
*.ini
*.xml
*.resx
*.config
Makefile-genesis.properties

# Misc
.svn
*.bak
*.log

